<div
  class="bottom-drawer-container"
  [@expandCollapse]="{
    value: expanded ? 'expanded' : 'collapsed',
    params: { collapsedHeight: collapsedMaxHeight }
  }"
>
  <div class="handle-container">
    <div
      #handle
      class="handle"
      role="button"
      tabindex="0"
      (click)="toggle()"
      (keydown)="onHandleKeydown($event)"
      aria-controls="fullContent"
      [attr.aria-expanded]="expanded"
    >
      <svg
        class="chevron"
        [class.rotate-180]="expanded"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <polyline points="18 15 12 9 6 15" />
      </svg>
    </div>
  </div>

  <div #previewContent class="preview-content">
    <ng-content select="[preview-pontent]"></ng-content>
  </div>

  <div
    id="fullContent"
    class="full-content"
    *ngIf="expanded"
    @fadeInUp
  >
    <ng-content></ng-content>
  </div>
</div>